{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />
    <!-- For Icons-->
    <link rel="stylesheet" href="{% static 'alltickets/fonts/icomoon/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'alltickets/css/bootstrap.min.css' %}" />

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'alltickets/css/alltickets_styles.css' %}" />

     <title>All tickets</title>
  </head>
  <body>
    <script src="{% static 'alltickets/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'alltickets/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'alltickets/js/alltickets_main.js' %}"></script>
      
      <nav class="navbar navbar-expand-custom navbar-mainbg">
          <a class="navbar-brand navbar-logo" href="#">
              <img src="{% static 'alltickets/images/lti.svg' %}" alt="LTI logo" width="10%" />
          </a>
          <button class="navbar-toggler"
                  type="button"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
              <i class="fas fa-bars text-white"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <div class="hori-selector">
                      <div class="left"></div>
                      <div class="right"></div>
                  </div>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'adminn:dashboard' %}"><i class="fa-sharp fa-solid fa-chart-line" style="color:#5161ce"></i>Dashboard</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'adminn:alltickets' %}"><i class="fa-solid fa-message" style="color:#5161ce"></i>All tickets</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'adminn:reset' %}"><i class="fa-solid fa-right-from-bracket"></i>Log out</a>
                  </li>
              </ul>
          </div>
      </nav>


      <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="container">
                    <div class="shadow-4 rounded-5 overflow-hidden">
                        <table class="table align-middle mb-0 bg-white">
                            <thead class="bg-light" id="head">
                                <tr>
                                    <th>Ticket ID</th>
                                    <th>PS No</th>
                                    <th>Issued Date</th>
          
          
                                    <th>Description</th>
                                    <!-- <th>Status<th> -->
                                    <th>Status</th>
                                </tr>
                              </thead>
                            <tbody>
                                {% for r in list %}
                                <form action="{% url 'adminn:alltickets' r.id %}" method="post">
                                  {% csrf_token %}
                                  <tr onclick="myFunc(this)">
          
                                  <td  id = 'id' name="id">{{r.id}}</td>
                                  <td id="ps_number" name = "ps_number" >{{r.user_id.ps_number}}</td>
                                  <td id="issue_date" name="issue_date" >{{r.issue_date}}</td>
                                  <td name = "description" id="description"style= 
                                  "max-width:100px ;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis">{{r.description}}</td>

                                  <td >  <select id="changedstatus" name="changedstatus"  class="bootstrap-select" onchange="this.form.submit()">
                                    <option value="1" selected="selected">{{r.status}}</option>
                                    {% if r.status == "raised" %}
                                    
                                    {% for x in statusprocessingandclosed %}
                                    <option value="{{x.0}}">{{x.0}}</option>
                                    {% endfor %}
                                    
                                    {% elif r.status == "processing" %}
                                   
                                    {% for x in statusclosed %}
                                    <option value="{{x.0}}">{{x.0}}</option>
                                    {% endfor %}
                                    {% endif %}

                                  
                                 
                                  </select></td>
          
                                  </tr>
                                  
                                </form>
                                  {% endfor %}

                              </tbody>
                          </table>
                      </div>
                </div>
          
            </div> 
            <!-- {% for choice in status %}
            <option value="{{ choice }}">{{ choice }}</option>
        {% endfor %} -->

        </div>


      
       

      </div>
      
      
  </body>
</html>
