{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />
    <!-- For Icons-->
    <link rel="stylesheet" href="{% static 'dashboard/fonts/icomoon/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}" />

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard_style.css' %}" />

     <title>All tickets</title>
  </head>
  <body>
    <script src="{% static 'dashboard/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>

      <nav class="navbar navbar-expand-custom navbar-mainbg">
          <a class="navbar-brand navbar-logo" href="#">
              <img src="{% static 'dashboard/images/lti.svg' %}" alt="LTI logo" width="10%" />
          </a>
          <button class="navbar-toggler"
                  type="button"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
              <i class="fas fa-bars text-white"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <div class="hori-selector">
                      <div class="left"></div>
                      <div class="right"></div>
                  </div>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'adminn:dashboard' %}"><i class="fa-sharp fa-solid fa-chart-line" style="color:#5161ce"></i>Dashboard</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'adminn:alltickets' %}"><i class="fa-solid fa-message" style="color:#5161ce"></i>All tickets</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'adminn:reset' %}"><i class="fa-solid fa-right-from-bracket"></i>Log out</a>
                  </li>
              </ul>
          </div>
      </nav>


    <div class="container">
        <h2 style="margin-left:2% ;">Weekly analysis</h2>
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="drop">
                    <div class="drop__container" style="background-color: #EC7063;">
                        <header>
                            <h1>{{value_count.raised}}</h1>
                        </header>
                        <div class="drop__list" id="drop-items">
                            <h3>Tickets raised</h3>

                        </div>

                    </div>

                </div>



            </div>
            <div class="col-md-12 col-lg-4">
                <div class="drop" >
                    <div class="drop__container" style="background-color: #D0ECE7;">
                        <header>
                            <h1>{{value_count.processing}}</h1>
                        </header>
                        <div class="drop__list" id="drop-items">
                            <h3>Tickets proccesing</h3>

                        </div>

                    </div>

                </div>



            </div>
            <div class="col-md-12 col-lg-4">
                <div class="drop">
                    <div class="drop__container" style="background-color: #82E0AA;">
                        <header>
                            <h1>{{value_count.closed}}</h1>
                        </header>
                        <div class="drop__list" id="drop-items">
                            <h3>Tickets closed</h3>

                        </div>

                    </div>

                </div>



            </div>
        </div>

        <h2 style="margin-left:2% ;">Recent Tickets</h2>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="container" id="usertable">
                    <div class="shadow-4 rounded-5 overflow-hidden">
                        <table class="table align-middle mb-0 bg-white" >
                            <thead class="bg-light" id="head">
                                <tr>
                                    <th>Ticket ID</th>
                                    <th>Issued Date</th>
          
                                    <th>Description</th>
                                    <th style="">Category</th>
                                    <th style="">SubCategory</th>
                                    <!-- <th>Status<th> -->
                                    <th>Status</th>
                                </tr>
                              </thead>
                            <tbody>
                                {% for r in list %}
                                  <tr onclick="myFunc(this)">
          
                                  <td>{{r.id}}</td>
                                  <td>{{r.issue_date}}</td>
                                  <td style=
                                  "max-width:100px ;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis">{{r.description}}</td>
                                  <td>{{r.category}}</td>
                                  <td>{{r.subCategory}}</td>
                                  <td>{{r.status}}</td>
          
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>

                    </div>

                </div>


            </div>


        </div>

        <h2 style="margin-left:2% ;">Weekly analysis</h2>

        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div>
                    <canvas id="myChart1"></canvas>
                </div>
            </div>
            
            <div class="col-md-12 col-lg-6">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>


        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    
   <script>
       var canvas = document.getElementById('myChart');
       var canvas1 = document.getElementById('myChart1');
    //    var canvas2 = document.getElementById('myChart2');
    //    var canvas3 = document.getElementById('myChart3');
    //    var canvas4 = document.getElementById('myChart4');
       var data_r = JSON.parse("{{data_send|escapejs}}");
       var data_s = JSON.parse("{{data_send2|escapejs}}")
       var label_l = []
       var data_l = []
    //    var list_l = ['myChart1','myChart2','myChart3','myChart4'];
    //    var k=0
       var barColors = ["#E8DAEF","#82E0AA","#D0ECE7","#FAD7A0","#EC7063","#ABB2B9","FBEEE6","#D4E6F1","#EAFAF1"];
       for(var x in data_r){
           label_l.push(x)
           data_l.push(data_r[x])
       }
       var label_r = []
    var data_r = []
       for (var y in data_s){
        for(var x in data_s[y]){
           label_r.push(x.slice(0,5)+"...")
           data_r.push(data_s[y][x])
       }
        
// k++;
}
// console.log(list_l[k])
        new Chart(myChart1, {
        type: "bar",
        data: {
            labels: label_r,
         datasets: [{
            // backgroundColor: barColors,
            backgroundColor: barColors.slice(0,label_r.length),
            data: data_r
    }]
  },
  options: {
    legend: {
    display: false},
    title: {
      display: true,
      text: "Tickets raised in sub-category",
    }
  }
});
new Chart("myChart", {
  type: "bar",
  data: {
    labels: label_l,
    datasets: [{
      backgroundColor: barColors,
      data: data_l
    }]
  },
  options: {
    legend: {
    display: false},
    title: {
      display: true,
      text: "Tickets raised category wise"
    }
  }
});
</script>
            
  </body>
</html>
