/* Fontss */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

body {
	font-family: "Roboto", sans-serif;
	margin: 5% 0;
  	color: #847dff;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}

.container{
	padding: 2%;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
	
}
.row{
	margin: 0;
	padding: 0;
}

/* .form-control{
	background-color: #F0F2FF ;
}

.form-control:focus{
	background-color: #F7F8FF;
} */

  i:not(i.fa-eye) {
	color:#F0F2FF;
  }
  
  ul {
	list-style: hangul-consonant;
	text-align:left;
	margin-left: -10rem;
  }
  
  .error {
	border: 2px solid red;
  }
  








