{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <!-- For check icon-->
  <link rel="stylesheet" href="{% static 'loginpage/fonts/icomoon/style.css' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'loginpage/css/bootstrap.min.css' %}">

  <!-- Style -->
  <link rel="stylesheet" href="{% static 'loginpage/css/login_styles.css' %}">

  <title>Forgot Pass Page</title>

</head>

<body>
  <script type ="text/javascript">
            
    function what(d){
        document.getElementById('error_msg').innerHTML = d ;
    };
  </script>
  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'loginpage/images/undraw_remotely_2j6y.svg' %}" alt=" altimage" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
                <h3>Forgot Pass</h3>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="form-group first">
                  <label for="username">PS no.</label>
                  <input type="text" class="form-control" id="username" name="username" pattern="\d*" maxlength="8" title="PS number only"  required>
                  </div>
                  
                <div class="form-group pass mb-4">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>

                </div>
                <!-- <div>
                  
                   {% if messages %}
                  {% for message in messages %}
                  {% if "login" in message.tags %}
                  <span {% if message.tags %} class="{{ message.tags }} text-danger mt-1" {% endif %}>{{ message }}</span>
                  <br>
                  <br>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div> -->
                <!-- <p id="error_msg" style="color:red"></p> -->
                <p id="error_msg" style="color:red"></p>

                {% comment %} <div class="d-flex mb-5 align-items-center">
                  <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                </div> {% endcomment %}

                <!-- <input type="submit" value="Log In" class="btn btn-block btn-primary"> -->
                <a href="#"><button type="submit"
                    class="btn btn-block btn-primary">Confirm</button></a> <!-- {% url login:login'  -->
            </div>
    
              </form>
              
          </div>
          
          <h6 style="padding-left:30% ; margin-top:5%"> Not a user? click <a href="signup">here</a>  to sign up</h6>
          

        </div>

      </div>

    </div>
  </div>
  </div>


  <script src="{% static 'loginpage/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'loginpage/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'loginpage/js/login_js.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  <script>
    $(document).ready(function () {
    $("form").submit(function (event) {
      var formData = {
        "ps_number": $("#username").val(),
        "password":$("#password").val(),
      };
      console.log(formData)
      $.ajax({
        type: "PATCH",
        url: "{%url 'login:forgotpass-api' %}",
        data: formData,
        dataType: "json",
        // encode: true,
        success: function (data) {
            // console.log(data);
            if(data.message=="The Profile with that ps.no does not exist" ){
                let k=data.message;
                console.log(k);
                what(k);
                setTimeout(function(){
                if ($('#error_msg').length > 0) {
                  document.getElementById("error_msg").innerHTML="";
                }
                }, 3000)
                // $('#error_mg').append('<div id="error_msg" ><p style="color:red ;" >$(k[0])</p></div>');
                // var div = document.getElementById('error_msg');
                // div.id = 'container';
                // div.innerHTML = '<p style="color:red ;>${k[0]}</p></div>';
                // div.className = 'border pad';
                
                
                // document.getElementById('error_msg').innerHTML = "This is a message";
            }
            // else if(data.detail=="Incorrect password!"){
            //   // console.log("hi incorrect");
            //   let k=data.detail;
            //     console.log(k);
            //     what(k);
            //     setTimeout(function(){
            //     if ($('#error_msg').length > 0) {
            //       document.getElementById("error_msg").innerHTML="";
            //     }
            //     }, 3000)
            // }
            else if(data.message=="Saved successfully"){
              window.location.replace("{%url 'login:login'%}")

            }
    // load();
    //         }
        },
        // error: function(){
        //   window.location.replace("{%url 'login:login'%}")
        // },
      })
    
  
      event.preventDefault();
    });
  });
  </script>
</body>

</html>