{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />
    <!-- For Icons-->
    <link rel="stylesheet" href="{% static 'history/fonts/icomoon/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'history/css/bootstrap.min.css' %}" />

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'history/css/history_styles.css' %}" />

    <script src="{% static 'history/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'history/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'history/js/history_main.js' %}"></script>

     <title>Ticket history</title>
  </head>
  <body onload="ticketLoader()">
    

      <nav class="navbar navbar-expand-custom navbar-mainbg">
          <a class="navbar-brand navbar-logo" href="#">
              <img src="{% static 'history/images/lti.svg' %}" alt="LTI logo" width="10%" />
          </a>
          <button class="navbar-toggler"
                  type="button"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
              <i class="fas fa-bars text-white"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <div class="hori-selector">
                      <div class="left"></div>
                      <div class="right"></div>
                  </div>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'employee:raiseReq' id %}"><i class="fa-sharp fa-solid fa-chart-line" style="color:#5161ce"></i>Raise Ticket</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'employee:history' id %}"><i class="fa-solid fa-message" style="color:#5161ce"></i>Ticket History</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'employee:reset' %}"><i class="fa-solid fa-right-from-bracket"></i>Log out</a>
                  </li>
              </ul>
          </div>
      </nav>


      <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="container">
                    <div class="shadow-4 rounded-5 overflow-hidden">
                        <table class="table align-middle mb-0 bg-white">
                            <thead class="bg-light" id="head">
              
                                    <th>Ticket ID</th>
                                    <th>Issued Date</th>
          
          
                                    <th>Description</th>
                                    <th style="display: none;">Category</th>
                                    <th style="display: none;">SubCategory</th>

                                    <th>Status</th>
              
                              </thead>
                            <tbody>
                                {% for r in list %}
                                  <tr class="" onclick="myFunc(this)">
          
                                  <td>{{r.id}}</td>
                                  <td>{{r.issue_date}}</td>
                                  <td style=
                                  "max-width:100px ;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis">{{r.description}}</td>
                                  <td style="display: none;">{{r.category}}</td>
                                  <td style="display: none;">{{r.subCategory}}</td>
                                  <td>{{r.status}}</td>
          
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                          
                      </div>
                </div>
          
            </div>


            <div class="col-md-12 col-lg-5">
                <div class="drop">
                    <div class="drop__container">
                      <header>
                        <h1>Ticket number: <span id="selected-ticket"></span></h1>
                      </header>
                      
                      <div class="drop__list" id="drop-items">
        
                        <div id="drop__card">
                      
        
        
                        <div class="drop__card">
                          <div class="drop__data">
                            <div>
                              <h1 class="drop__name">Status: <span id="ticket-status"></span></h1>
                              <br>
                              <h1 class="drop__category">Category: <span id="ticket-category"></span></h1>
                              <br>
                              <h1 class="drop__subcategory">Sub category: <span id="ticket-subcategory"></span></h1>
                              <br>
                              <span class="drop__description" id = "ticket-description" style="word-break: break-all;"></span>
                            </div>
                          </div>
                        </div>
    
                      </div>
                    </div>
                  </div>
            </div>
             


        </div>

       

      </div>
      
      
  </body>
</html>
