{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />
    <!-- For Icons-->
    <link rel="stylesheet" href="{% static 'ticketRequest/fonts/icomoon/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'ticketRequest/css/bootstrap.min.css' %}" />

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'ticketRequest/css/request_styles.css' %}" />

     <title>Raise Ticket</title>
  </head>
  <body onload="func()">
    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <a class="navbar-brand navbar-logo" href="#">
        <img src="{% static 'ticketRequest/images/lti.svg' %}" alt="LTI logo" width="10%" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'employee:raiseReq' id %}"
              ><i class="fa-sharp fa-solid fa-chart-line"  style="color:#5161ce"></i>Raise Ticket</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'employee:history' id %}"
              ><i class="fa-solid fa-message"  style="color:#5161ce"></i>Ticket History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'employee:reset' %}"
              ><i class="fa-solid fa-right-from-bracket"></i>Log out</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <section id="contact">

        <div class="container container-lg">
          
          <div class="mb-1 mt-3 text-center">
            <h1>Raise a ticket</h1>
          </div>
          <div class="row justify-content-center my-3">
            <div class="col-lg-6">
              
              <form action="{% url 'employee:create_ticket' id %}" method="post">
              -  {% csrf_token %}
                <label for="psno" class="form-label">PS No.</label>
                <div class="input-group mb-4">
                  <span class="input-group-text">
                    <i class="fa fa-user" aria-hidden="true" style="color:black"></i>
                  </span>
         
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.ps_number}}


                </div>

                <label for="email" class="form-label">Email ID</label>
                <div class="input-group mb-4">
                  <span class="input-group-text">
                    <i class="fa fa-envelope" aria-hidden="true" style="color:black"></i>
                  </span>
  
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.email}}


                </div>
                
                <label for="categories"> Category</label>
                
                <div class="mb-4 input-group">
                <span class="input-group-text">
                    <i class="fa fa-folder" aria-hidden="true" style="color:black"></i>
                  </span>
                 
                      <select onchange="select()" name="categories" id="categories" class="form-control" title="Please select a category" required>
                          <option value="" disabled selected>- - - - - - Categories - - - - -</option>
                      </select>
                </div>

                <script>
                var data = JSON.parse("{{categories|escapejs}}")

                function func(){
                  
                  for (cat in data){
                    let newOption = new Option(String(cat),String(cat));
                      document.getElementById("categories").add(newOption);
                  }

                  document.getElementById("sub_categories").innerHTML = "";
                  currentvar = document.getElementById("categories").value;
                  document.getElementById("sub_categories").style.display = "block";
                  for (let i = 0; i < data[currentvar].length;i++){

                    let newOption = new Option(String(data[currentvar][i]),String(data[currentvar][i]));
                    document.getElementById("sub_categories").add(newOption);
                  } 
                  
                }
              

                

                  

                function select(){
                  document.getElementById("sub_categories").innerHTML = "";
                  currentvar = document.getElementById("categories").value;
                  document.getElementById("sub_categories").style.display = "block";
                  for (let i = 0; i < data[currentvar].length;i++){

                    let newOption = new Option(String(data[currentvar][i]),String(data[currentvar][i]));
                    document.getElementById("sub_categories").add(newOption);
                  } 

                }

                


                


                </script>

                <label for="subcategories" >Sub Category</label>
                <div class="mb-4 input-group">
                <span class="input-group-text">
                    <i class="fa fa-folder-open" aria-hidden="true" style="color:black"></i>
                  </span>
                 
                      <select name="sub_categories" id="sub_categories" class="form-control" title="Please select a sub category" style="display:none;">
                          <option  selected disabled value="">- - - - - Sub categories - - - - - -</option>
                      </select>
                </div>

                <label for="description">Description</label>

                <div class="mb-4 mt-3 form-floating">
                
                  
                  <textarea class="form-control" id="reason" name="reason" style="resize:none;" required></textarea>
                </div>
                <div>
                  {% if error %}
                  <p style="color:red ;" > {{error}}</p>
                  {% endif %}
                </div>
                <div class="mb-4 text-center">
                  <button type="submit" class="btn btn-primary pmd-ripple-effect pmd-btn-raised" name="leave" value="Apply Leave">Raise ticket</button> <a href="#" class="btn btn-outline-secondary pmd-ripple-effect">Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
<script src="{% static 'ticketRequest/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'ticketRequest/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ticketRequest/js/requests_main.js' %}"></script>
</body>
</html>
